@use "../abstracts/variables" as var;

@media (min-width: 260px) {
  form {
    border: 1px solid var.$green;
    border-radius: 4px;
  }

  input {
    padding: 8px 0px 8px 16px;
    font-family: Rubik-Regular;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
  }

  input[type="text"] {
    color: #8f8f8f;

    &:focus {
      color: var.$green;
    }
  }
}
